@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{
  font-family: 'NotoSansKR', 'PlayfairDisplay', serif, sans-serif;
}

.attentionac{
  margin-top: 68px;
  width: 1440px;
  align-items: center;
}
Accordion{
  align-items: center;
}