/*네이버 로그인 없는버전*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');

*{
    font-family: 'Noto Sans KR', 'Playfair Display';
  }

.loginform{
    text-align: center;
}
#id{
    margin-bottom: 60px;
}
.inputlogin{
    width: 699px;
    padding: 20px;
}

.btnlogin{
    width: 699px;
    margin-bottom: 60px;
    margin-top: 60px;
    height: 100px;
    background-color: #535459;
    color: white;
    font-size: 32px;
    border: none;

}
.btnnaverlogin{
    width: 699px;
    height: 100px;
    margin-top: 60px;
    background-color: #03C75A !important;
    color: white;
    font-size: 32px;
    border: none;
}

.Nv{
    font-weight: 900;
}