/*네이버 로그인 없는버전*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{
  font-family: 'NotoSansKR', 'PlayfairDisplay', serif, sans-serif;
}

.v2login{
    width: 100%;
    height: 488px;
    background-image:url(../resource/common/login_naverlogin.png);
    margin-bottom: 68px;
}
.loginform{
    text-align: center;
}
#id{
    margin-bottom: 60px;
}
.inputlogin{
    width: 35%;
    padding: 20px;
}

.btnlogin{
    width: 35%;
    margin-bottom: 60px;
    margin-top: 60px;
    height: 100px;
    background-color: #535459;
    color: white;
    font-size: 32px;

}